.homepage__main-container{
    color: #F64C72;
    width: 100%;
    height: 80%;
    margin: 0 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;


}

.homepage__content {
    width: 70%;
    height: 100%;
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    justify-content: center; 

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;

}