.projectDetail__container{
    height: 100%;
    margin-top: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: slideIn;
    animation-duration: 2s;
    animation-fill-mode: forwards; 

   
}

.programmingLanguageIcon__container{
    width: 100%;
   
}

.programmingLanguageIcon{
    color: #fffb00;
    width: 10%;

    transform: scale(80%);
    position: relative;
    left: 90%;
}

.react{
    color:#00c7fc
}

.projectDetailTitle{
    width: 23rem;
    font-size: 1.8rem;
    color: whitesmoke;
    font-variant: small-caps;
    

    text-transform: capitalize;
    letter-spacing: 6px;
}

.projectDetailImage__container{
    width: 20rem;
    height: 18rem;

}

.projectDetailImage{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    color: whitesmoke;

}

.projectDetailDescription__container{
    width: 20rem;
    height: 15rem;

}

.projectDetailDescription{
    width: 100%;
    height: 80%;
    font-size: 1.5rem;
    color: whitesmoke;
}

@keyframes slideIn {
   from{
       opacity: 0;
       transform: translateY(-140%);
   }
   to{
       opacity: 1;
       transform: translateY(0%);
   }
}

@media (min-width:60rem) {
    .projectDetail__container{
        width: 100%;
        height: 80%;
        margin-top: 10rem;
         
    }
    
    .programmingLanguageIcon{
        color: #fffb00;
        width: 50%;
        position: relative;
        left: 75%;

        color: #fffb00;

        transform: scale(100%);
   
    }
    
    
    .projectDetailTitle{
        width: 45rem;
        font-size: 4rem;
        color: whitesmoke;
        font-variant: small-caps;
        

        margin-top: 0;
    
        text-transform: capitalize;
        text-shadow: 100px;
        letter-spacing: 8px;
    }
    
    .projectDetailImage__container{
        width: 40rem;
        height: 27rem;
    
    }
    
    .projectDetailImage{
        width: 100%;
        height: 100%;
        font-size: 3rem;
        color: whitesmoke;
    
    }
    
    .projectDetailDescription__container{
        width: 40rem;
        height: 27rem;
    
    }
    
    .projectDetailDescription{
        width: 100%;
        height: 80%;
        font-size: 2rem;
        color: whitesmoke;
    }
    
}