.contact-me__button{
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 12rem;
    padding:9px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 3px #F64C72 solid;
    color: #F64C72;
    font-variant: small-caps;
    background-color: #242582;
}

.contact-me__button__disabled{
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 12rem;
    padding:9px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 3px black solid;
    color: black;
    font-variant: small-caps;

    background-color: lightgray;
    
}

.contact-me__button:hover{
    background-color: #F64C72;
    color: #242582;
    border-color: #F64C72;
}

@media (min-width:60rem) {
    .contact-me__button,
    .contact-me__button__disabled{
        width: 8rem;
        max-height: 2.5rem;
        padding:10px;
        font-size: 2rem;
      
        font-size: 1rem;
    }    
}
