:root{
  

  
    --backgroundColor: #242582;
    --backgroundLightPurple: #99738E;
    --backgroundCardDarkPurple: #553d67;
    --pinkColor: #F64C72;

    --fontFamily:  Arial, Helvetica, sans-serif;
  
  


}

html{
  height: 100vh;
}
body {
  height: 100%;
  margin: 0;
}


