@keyframes bouncingEffect {
  50%{
    transform: scale(120%);
    opacity: 0.5;
  }
  100%{
    transform: scale(100%);
    opacity: 1;
  }
}

.animated__text__container{
  display: inline-block;
  margin: 0;
  padding: 0;

}


.text-animate {
    display: inline-block;
    
    animation-name: bouncingEffect;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    opacity: 0;
   
    white-space: pre;


  }

  



  
@for $i from 1 through 2500 {
    .text-animate._#{$i} {
      animation-delay: #{$i / 10}s;
      
    }
}