.impressum__container{
    height: fit-content;
    width: 100%;
    /*background-color: rgba(255, 235, 205, 0.834);*/

    margin-bottom: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: whitesmoke; 
}

.impressum__text__container{

    border-radius: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;

    background-color: var(--backgroundCardDarkPurple);
    padding: 20px;
    margin-bottom: 6rem;

}

.impressum__title{
    align-self: center;

    font-size: 3rem;

    color: var(--pinkColor);

    font-variant: small-caps;
}

.impressum__text{
    width: fit-content;

    font-size: 1.5rem;  
    
    line-height: 2.4rem;
}

.contact-me__link{
    color: whitesmoke;
    text-decoration: none;

    border-radius: 10px;
    padding:10px;
    border: 2px whitesmoke solid;
    margin-bottom: 15px;
    
}

.contact-me__link:hover{
    color: var(--backgroundCardDarkPurple);
    border-color: var(--backgroundCardDarkPurple);
    background-color: whitesmoke;

}

@media (min-width:60rem){
    .impressum__container{
        height: fit-content;
        width: 100%;
    }

    .impressum__title{
        font-size: 2rem;  
    }
    
    
    .impressum__text__container{
        width: 60%;
        height: 100%;
        margin-bottom: 4rem;
    }

    .contact-me__link{
        color: whitesmoke;
        text-decoration: none;
    
        border-radius: 10px;
        padding:3px;
        border: 2px whitesmoke solid;
        margin-bottom: 15px;
    }

    .impressum__text{
        font-size: 1.0rem;    
        line-height: 1.8rem;
    }


}

