.skill__container{
    width: 26rem;
    height: fit-content;
    border-radius: 10px;

    box-sizing: border-box;

    margin: 10px;

    background-color:var(--backgroundLightPurple);
    display: grid;
    grid-template-columns: 20% repeat(4, 20%);
    grid-template-rows: 100%;


    align-items:center;
    justify-content: space-around;
    
    
}

.skill__name{
    vertical-align: middle;

}

.skill__level__container{
    box-sizing: border-box;
    width: 90%;
    height: 10%;

    border-radius: 10px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: flex-start;
    justify-content: space-between;
    align-content: center;


    
    grid-column: 2/6;
    z-index: 0;
    



}



.skill__checkpoint{
    width: 10px;
    height: 10px;
    background-color: black;
    z-index: 11;
    border-radius: 100%;
    border: 2px black solid;
    
}



.skill__level__container.beginner{
    background-image: linear-gradient(to right, var(--pinkColor), 0% , gainsboro 0%);
}

.skill__level__container.intermediate{
    background-image: linear-gradient(to right, var(--pinkColor), 33% , gainsboro 0%);
}

.skill__level__container.advanced{
    background-image: linear-gradient(to right,var(--pinkColor), 66% , gainsboro 0%);
}

.skill__level__container.expert{
    background-image: linear-gradient(to right,var(--pinkColor), 100% , gainsboro 0%);
}

.beginner{
    background-color: var(--pinkColor);
}

.intermediate{
    background-color: var(--pinkColor);
}

.advanced{
    background-color: var(--pinkColor);
}

.expert{
    background-image: linear-gradient(to right,var(--pinkColor), 100% , gainsboro 0%);
}

@media (min-width:60rem) {
    .skill__container{
        width: 80rem;   
        height: 5rem;
    }

    .skill__name{
        vertical-align: middle;
        text-align: center;
    
    }
    
    
    
    .skill__level__container{
        width: 90%;
        height: 10%;    
    }    
}

