.layout__container {
    height: 100vh;
    position: relative;
    background-color: var(--backgroundColor);
    overflow-y: scroll;
      
  }

  .main__body__container{ 
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    margin-top: 8rem;
    margin-bottom: 0rem;
  }

  @media (min-width){
    .main__body__container{ 
      height: 80%;
      
      margin-top: 10rem;
      margin-bottom: 0rem;
    }
  }

  