.layout__container {
    height: 100vh;
    position: relative;
    background-color: var(--backgroundColor);
    overflow-y: scroll;
      
  }

  .main__body__container{ 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
  }