.aboutMe__container{
    color: var(--pinkColor);
    width: 100%;
    height: 100%;
    margin: 0 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    box-sizing: border-box;
    border:20%;

    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;

}

.aboutMe__container__image{
    width: 7rem;
    height: 8rem;

    border-radius: 30%;

    background-color: rgba(255, 235, 205, 0.834);
}

.aboutMe__picture{
    width: 100%;
    height: 100%;
    border-radius: 30%;

}

.aboutMe__info{
    width: 50%;
    font-size: 1.2rem;
    color: var(--pinkColor);

}


@media (min-width: 600px) {

    .aboutMe__container{
        color: var(--pinkColor);
        width: 100%;
        height: 80%;
        margin: 0 0;
        padding: 0;
    
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        border:20%;
    
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
    
    }

    .aboutMe__container__image{
        width: 17rem;
        height: 20rem;
    
        border-radius: 30%;
    
        background-color: rgba(255, 235, 205, 0.834);
    }
    
    .aboutMe__picture{
        width: 100%;
        height: 100%;
        border-radius: 30%;
    
    }
    
    .aboutMe__info{
        width: 50%;
        font-size: 2rem;
        color: var(--pinkColor);
    
    }
    
}
