.skills__container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    

    font-family: var(--fontFamily);
}

.skills__element__container{
    width: 0%;
    height: auto;
    background-color: var(--backgroundCardDarkPurple);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.skills__title{
    color: var(--pinkColor);
    font-variant: small-caps;

    font-size: 1rem;
}


@media (min-width:60rem){
    .skills__container{
        width: 20rem;
        height: 100%;

        margin-top: 2rem;
        margin-bottom: 6rem;
    }

    .skills__title{
        font-size: 1.5rem;
    }
    
    .skills__element__container{
        width: 40%;
        height: auto;
        
    }
}


