.card {
  width: fit-content;
  height: fit-content;
  padding: 1rem 1.9rem 1rem;

  border-radius: 20px;
  box-shadow: 9px 9px 12px rgba(49, 49, 48, 0.9);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--backgroundCardDarkPurple);
}

@media (min-width: 60rem) {
  .card {
    width: fit-content;
  }
}


