.contact-me__container{
    width: 100%;
    height: 80%;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   

}

.form__container{
    width: 40%;
    height: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--backgroundCardDarkPurple);

}

.page__title{
    width: 100%;
    text-align: center;
    font-variant: small-caps;

    color: var(--pinkColor);

}

.contact-me__form{
    width: 100%;
    height: fit-content;
    display: flex;

    

    justify-content: center;
    


    display: grid;
    grid-template-columns: repeat(4,7rem);
    grid-template-rows: repeat(3, 2rem) 7rem;

    grid-row-gap: 1.3rem;
    grid-column-gap: 0.3rem;



}

input,textarea{
    color: whitesmoke;
    background-color: var(--backgroundLightPurple);
    border-radius: 5px;
    border-color: var(--backgroundCardDarkPurple);
}

input {
   
    height: 2.4rem;
}



.name{
    grid-row: 1/2;
    grid-column: 1/2;
}



.subject{
    grid-row: 2/3;
    grid-column: 1/5;
}

.email{
    grid-row: 1/2;
    grid-column: 2/5;

}

.message{
    grid-row: 3/5;
    grid-column: 1/5;
}



::placeholder{
    color: whitesmoke;
}

@media (min-width:60rem){

    .contact-me__container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .form__container{
        width: 25rem ;
        height: fit-content;

        
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    
    .page__title{
        font-size: 5rem;
    
    }
    
    .contact-me__form{
        width: 100%;
        grid-template-columns: repeat(4,23rem);

        grid-template-rows: repeat(3, 2rem) 12rem;

        
    
        grid-row-gap: 4rem;
        grid-column-gap: 1.3rem;
    
    }

    

    input{
        height: 4rem;
    }

    .email,
    .subject,
    .name{
        height: 4rem;
    }
    
    .message{
        height:20rem;
    }

    ::placeholder{
        font-size: 2rem;
    }
}




